<form id="contact">

    <div class="input-field-container">
        <label for="contact-name">שם</label>
        <input id="contact-name" type="text" required />
    </div>

    <div class="input-field-container">
        <label for="contact-email">כתובת אימייל</label>
        <input id="contact-email" type="email" required />
    </div>

    <div class="input-field-container">
        <label for="contact-tel">מספר טלפון</label>
        <input id="contact-tel" type="tel"/>
    </div>

    <div class="input-field-container">
        <label for="contact-message">פרטים נוספים</label>
        <textarea id="contact-message"></textarea>
    </div>

    <button>שלח\י</button>

</form>