<div id="contact-form-drawer" class="drawer">
    <div class="form-container">

        <div class="close" data-on-click="close-contact-form-drawer">
            <img src="../source/graphics/close-icon-001.png"/>
        </div>

        <h2>צרו קשר</h2>

        <include src="./source/templates/generic/contact-form.html"></include>

    </div>

    <div class="drawer-handle-container" data-on-click="contact-form-drawer-toggle">
        <img src="../source/graphics/email-icon-001.png"/>
    </div>
</div>