// container to center content
.pillar-box
	max-width: 70rem
	margin: auto

// a subtle, mobile friendly general container
.padding-container
	@include subtle-padding
	@include normalize-images

// titles container
.title-box
	display: inline-block
	vertical-align: top
	background-color: rgba(#c6c6c6, 0.98)
	font-size: $headerFontSize
	line-height: 1.2
	padding: 2rem 10rem 2rem 3rem

	@media (min-width: 30rem)
		padding: 2rem 3rem

	.row
		display: block

.collided-container
	@include normalize-images
	@include clear-fix
	position: relative
	padding: 2rem
	@media (min-width: 60rem)
		margin-top: 3rem
		padding: 0

	.header
		color: $gold
		font-weight: bold
		text-align: center
		font-size: $headerFontSize
		border-bottom: 2px solid
		padding-bottom: 0.4em

	img
		z-index: $collidedImageZIndex
		@media (min-width: 60rem)
			width: 50%
			float: left

	.collided
		border: 2px solid $gold
		position: relative
		bottom: -2rem
		z-index: $collidedBoxZIndex
		box-sizing: border-box
		padding: 2rem
		margin: 0 2rem

		@media (min-width: 60rem)
			position: absolute
			top: 2rem
			right: 1rem
			left: calc(50% + -2rem)
			bottom: 2rem
			padding: 2rem 2rem 2rem 3rem
			margin: 0

	.call-for-action
		text-align: center
		margin: 3rem 0

.input-field-container
	@include clear-fix
	margin: 0.5rem 0 1.5rem

	label, input, textarea
		margin-top: 0.7rem

	label
		display: inline-block

	@media (min-width: 60rem)
		input, textarea
			float: left
			margin: 0
			width: 65%