// colors
$baseBackgroundColor: 	white
$baseTextColor:			#121212
$warningColor: 			red
$confirmColor: 			#204e71
$gray:   				#c6c6c6
$gold:					#a48648

// widths
$smallBlockWidth: 35rem
$textMaxWidth: 45rem

// font-sizes
$headerFontSize: 2rem

// z-index
$collidedImageZIndex: 50
$collidedBoxZIndex: 75
$headerZIndex: 100
$drawerZIndex: 200

// misc
$borderRadius: 3px