// colors
$baseBackgroundColor: 	white
$baseTextColor:			#121212
$warningColor: 			red
$confirmColor: 			#204e71
$gray:   				#c6c6c6
$gold:					#a48648

// css partials
$borderRadius: 3px

// widths
$smallBlockWidth: 35rem
$textMaxWidth: 45rem

// z-index
$headerZIndex: 100
$drawerZIndex: 200