<extends src="source/templates/base/index.html">
    <block name="title">אודות</block>
    <block name="content">

        <div class="bio padding-container pillar-box">
            <p>בוגרת שנקר בית הספר הגבוה להנדסה עיצוב ואומנות ובעלת תואר ראשון באופנה בהצטיינות Bachelor of Fashion Design.</p>
            <p>עם סיום לימודיי בשנקר בשנת 2000, הצגתי את קולקציית הגמר שלי בתחרות אופנה בינלאומית Mittelmoda באיטליה, תחרות יוקרתית למעצבי אופנה צעירים,הקולקציה שלי זכתה לתשבחות רבות ולהצעת עבודה בבית האופנה היוקרתי Max Mara האיטלקי.</p>
            <p>במשך כעשור שימשתי בתפקיד מעצבת אופנה ראשית, בחברת האופנה TNT שבבעלות חברת הוניגמן ובניו בע"מ.</p>
            <p>תכננתי, עיצבתי וניהלתי קולקציות אופנתיות רבות עבור קו הנשים והגברים של TNT, שכללו את מגוון מחלקות העיצוב כולו, מחלקות הלבשה תחתונה לגברים ונשים ומחלקת תיקים ואביזרים.</p>
            <p>הקולקציות שעיצבתי היו בעלות אופי שונה ועוצבו מתוך דגש על ייחודיות רעננות וצבעוניות שלא נראתה עד אז בישראל. הלבשתי קהל ישראלי רחב ומגוון באופנת רחוב מיוחדת ושונה, לעיתים אף בועטת, קולקציות שהביאו את החברה לשיאים חדשים.</p>
            <p>אני נשואה לגיא ואימא ליהלי וליבי ומתגוררת ברמת גן, בבית שמייצג נאמנה את האני מאמין שלי ואת דרכי.</p>
        </div>

        <div class="portrait-container">
            <img src="../source/graphics/about-portrait-001.png" alt="Merav Steiberg portrait" />
        </div>

        <div class="quotes-container padding-container pillar-box">

            <h2>כתבות בהשתתפותי</h2>

            <each loop="quote in quotes">
                <div>

                    <div class="vendor-container">
                        <a href="{{ quote.vendorHref }}" rel="noopener">{{ quote.vendorTitle }}</a>:
                    </div>

                    <div class="quote-container">
                        <h3>
                            <a href="{{ quote.articleHref }}" rel="noopener">{{ quote.articleTitle }}</a>
                        </h3>

                        <q>{{ quote.text }}</q>

                        <div>
                            <a class="button filled" href="{{ quote.articleHref }}" rel="noopener">לכתבה המלאה</a>
                        </div>
                    </div>

                </div>
            </each>

        </div>

    </block>
</extends>