main
	background-image: url(../source/graphics/homepage-background-001.jpg)
	background-position: top center
	background-repeat: no-repeat
	background-size: cover
	height: 125vh

	position: relative

.title-box
	position: absolute
	top: 60vh
	padding: 2rem 10rem 2rem 3rem