<extends src="source/templates/base/index.html">
    <block name="title">עמוד הבית</block>
    <block name="content">

        <include src="./source/templates/generic/nav.html"></include>

        <div class="hero-container">
            <img src="../source/graphics/homepage-background-001.jpg" alt="">

            <h1 class="golden-circle">
                <div class="inner-container">
                    <div>עיצוב פנים</div>
                    <div>מירב שטיינברג</div>
                </div>
            </h1>
        </div>

        <div class="collided-container pillar-box">
            <div class="collided">
                <h2 class="header">נעים להכיר, מירב</h2>
                <p>"כמעצבת פנים ומלבישת בתים, הדבר החשוב לי מכל הוא לייצר סביבת מגורים נוחה, נעימה ופונקציונלית עבור לקוחותיי. סביבה המייצגת אותם ומספרת את סיפור חייהם, משלבת את עברם, ההווה בו הם חיים וחלומותיהם העתידיים לבוא.."</p>
                <div class="call-for-action">
                    <a href="about.html" class="button">המשיכו לקרוא</a>
                </div>
            </div>
            <img src="../source/graphics/homepage-portrait-001.jpg" alt="Merav Steiberg portrait" />
        </div>

    </block>
</extends>