nav
	background-color: rgba(255, 255, 255, 0.4)
	@media (min-width: 60rem)
		position: absolute
		margin: auto
		right: 0
		left: 0

.hero-container
	@include normalize-images
	position: relative

@media (min-width: 60rem)
	.collided-container
		margin-top: 7rem

	.collided
		height: 20rem