<extends src="source/templates/base/index.html">
    <block name="title">{{ title }}</block>
    <block name="content">

        <div class="padding-container">

            <div class="zine-outer">
                <div class="zine-inner">

                    <div class="letter-identifier">{{ identifier }}</div>

                    <div class="featured-image">
                        <img style="width:100%" src="{{ gallery[0] }}" alt="">
                    </div>

                    <div class="description-container">
                        <div class="description">
                            <each loop="paragraph in description">
                                <p>{{ paragraph }}</p>
                            </each>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!--<div class="pillar-box padding-container">

            <div class="panel">
                <h1>{{ title }}</h1>

                <each loop="paragraph in description">
                    <p>{{ paragraph }}</p>
                </each>


            </div>

            <div class="panel">
                <each loop="imageUrl in gallery">
                    <img src="{{ imageUrl }}" alt=""/>
                </each>
            </div>

        </div>-->

    </block>
</extends>