<extends src="source/templates/base/index.html">
    <block name="title">{{ title }}</block>
    <block name="content">

        <div class="padding-container">

            <div class="zine-outer">
                <div class="zine-inner">

                    <div class="letter-identifier">{{ identifier }}</div>

                    <div class="featured-image">
                        <img src="{{ featuredImageUrl }}" alt="">
                    </div>

                    <div class="description-container">
                        <div class="description">
                            <each loop="paragraph in description">
                                <p>{{ paragraph }}</p>
                            </each>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="gallery">
            <each loop="photo in gallery">
                <div class="image-container" style="width: {{ photo.width }}%; height: {{ Number(photo.width)<50 ? 20 : (photo.width/2)+3 }}vw;">
                    <img src="{{ photo.url }}" alt="">
                </div>
            </each>
        </div>

    </block>
</extends>