<extends src="source/templates/base/index.html">
    <block name="title">{{ title }}</block>
    <block name="content">

        <div class="padding-container">

            <div class="zine-outer">
                <div class="zine-inner">

                    <div class="featured-image">
                        <img src="{{ featuredImageUrl }}" alt="">
                    </div>

                    <div class="description-container">
                        <div class="description">
                            <each loop="paragraph in description">
                                <p>{{ paragraph }}</p>
                            </each>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="galleries-container">

            <scope with="gallery">

                <if condition="images.length">
                    <div class="gallery">
                        <spaceless>
                            <each loop="image in images">
                                <div class="image-container" style="width: {{ image.width }}%;"><img src="{{ image.url }}" alt=""></div>
                            </each>
                        </spaceless>
                    </div>
                </if>

                <elseif condition="sections.length">
                    <p class="explanation padding-container">לחצו על הגלרייה הרצוייה</p>
                    <each loop="section in sections">
                        <details>
                            <summary class="padding-container">
                                <div class="background" style="background-image: url({{ section.images[0].url }})"></div>
                                <h2 class="section-title">{{ section.title }}</h2>
                            </summary>
                            <div class="gallery">
                                <spaceless>
                                    <each loop="image in section.images">
                                        <div class="image-container" style="width: {{ image.width }}%;"><img src="{{ image.url }}" alt=""></div>
                                    </each>
                                </spaceless>
                            </div>
                        </details>
                    </each>
                </elseif>

            </scope>
        </div>

    </block>
</extends>