<extends src="source/templates/base/index.html">
    <block name="title">{{ title }}</block>
    <block name="content">
        <div class="panel" style="background-image: url({{ backgroundUrl }});"></div>

        <div class="panel">

            <div class="title-box">
                <h1>
                    <each loop="word in title.split(' ')">
                        <span class="row">{{ word }}</span>
                    </each>
                </h1>
            </div>

            <div class="padding-container spaceus">
                <each loop="escapedParagraph in content">
                    <p>{{{ escapedParagraph }}}</p>
                </each>
            </div>

        </div>
    </block>
</extends>