<footer>
    <div class="pillar-box padding-container">

        <h3 class="site-name">מירב שטיינברג</h3>

        <span class="site-desc">עיצוב פנים והלבשת הבית</span>

        <div class="info">
            <a target="_blank" title="מפת הגעה" href="https://www.google.co.il/maps/place/%D7%99%D7%A8%D7%99%D7%97%D7%95,+%D7%A8%D7%9E%D7%AA+%D7%92%D7%9F%E2%80%AD/@32.0753989,34.8134596,16.06z/data=!4m5!3m4!1s0x151d4a4ca5ec28a3:0xeb528a523dc093ed!8m2!3d32.073937!4d34.8190516?hl=iw">
                <img src="../source/graphics/marker-icon-001.png" alt="" style="margin-left: 0.25rem;"/>רח' יריחו, רמת גן
            </a>
            <a target="_blank" title="יצירת מייל" href="mailto:contact@merav-steinberg.co.il">
                <img src="../source/graphics/email-icon-001.png" alt="" style="margin-left: 0.5rem;"/>contact@merav-steinberg.co.il
            </a>
        </div>

        <span class="copyright">© כל הזכויות שמורות</span>

    </div>
</footer>