[data-page="homepage"] footer
	margin: 5rem 0 10rem

footer
	margin: 15rem 0 10rem
	text-align: center

	span
		display: block

	.site-name
		font-size: 3rem
		font-weight: normal
		margin: 1rem auto 0.7rem
		line-height: 1
		width: 35%
		min-width: 17rem
		border-bottom: $borderStyle
		padding-bottom: 1rem

	.site-desc
		font-size: 1.65rem
		font-weight: bold

	.copyright
		margin-top: 3rem
		color: $gold
		opacity: .5