header
	padding: 0 1rem
	background-color: #121212
	color: white

	a.logo-container
		display: inline-block
		vertical-align: middle

	ul, li, ul a
		display: inline-block

	ul
		padding: 1rem 0

		text-align: center
		@media (min-width: 60rem)
			text-align: right

		a
			font-size: 1.1rem
			padding: 0.4rem 1rem
			text-shadow: 0 0 4px rgba(255, 255, 255, 0.4)

			color: #c6c6c6
			&:visited
				color: #c6c6c6

			text-decoration: none
			&:active, &:hover
				text-decoration: none

			&:focus
				text-decoration: underline